* {
	box-sizing: border-box;
	margin: 0; /* to get rid of browsers applying margins by default (very silly) */

	font-family: "PT Mono", monospace; /* default font properties */
	font-size: 1.2vw;
}

/* TODO: change all px to relative units */

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: white;
	background-image: linear-gradient(90deg, transparent 7%, DeepSkyBlue 7%, DeepSkyBlue 7.2%, transparent 7.2%), linear-gradient(#eee 0.12vw, transparent 0.12vw);
	background-size: 100% 1.7vw;
}

/*   ----------   Homepage link   ----------   */

#homepage-link {
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	color: black;
	margin: 2px 5px;
}

#homepage-link:hover {
	text-decoration: underline;
}

#homepage-link:active {
	top: 2px;
}

#homepage-link:visited {
	color: black;
}

/*   ----------   Main content   ----------   */

#title {
	font-family: "Zilla Slab Highlight", monospace;
	font-size: 3vw;
	margin: 10px 0;
}

#canvas-container { /* contains canvases */
	height: 75%;
	width: 90%;
	position: relative;
	background: white;
	border: 1px solid black;
	overflow: hidden;
}

#canvas-container canvas { /* make both canvases appear on top of each other */
	position: absolute;
	top: 0;
	left: 0;
}

#controls-container {
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin: 10px 0;
	position: relative;
}

.sub-controls-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	margin: 0 10px;
}

.sub-controls-container p, label, input, select { /* vertical spacing between controls */
	margin: 5px 0;
}

/*   ----------   GitHub link   ----------   */

#github-link {
	position: relative;
	margin-left: auto;
}

#github-link:active {
	top: 2px;
}

#github-link-tooltip {
	font-family: sans-serif;
	text-align: center;
	background: #333;
	color: white;
	padding: 5px 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 120%;
	left: 50%;
	width: 8em;
	margin-left: -4em;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

#github-link-tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

#github-link:hover #github-link-logo {
	filter: invert(25%);
}

#github-link:hover #github-link-tooltip {
	visibility: visible;
	opacity: 1;
}
