* {
	box-sizing: border-box;
	margin: 0; /* to get rid of browsers applying margins by default (very silly) */

	font-family: "PT Mono", monospace; /* default font properties */
	font-size: 1.2vw;
}

body {
	overflow: auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: white;
	background-image: linear-gradient(90deg, transparent 7%, DeepSkyBlue 7%, DeepSkyBlue 7.2%, transparent 7.2%), linear-gradient(#eee 0.12vw, transparent 0.12vw);
	background-size: 100% 1.7vw;
}

/*   ----------   Homepage link   ----------   */

#homepage-link {
	position: absolute;
	top: 0.25vw;
	left: 1vw;
	text-decoration: none;
	color: black;
}

#homepage-link:hover {
	text-decoration: underline;
}

#homepage-link:active {
	top: 0.35vw;
}

#homepage-link:visited {
	color: black;
}

/*   ----------   Main content   ----------   */

header {
	height: 10vh;
	min-height: 4vw;
	display:flex;
	align-items: center;
}

#title {
	font-family: "Zilla Slab Highlight", monospace;
	font-size: 3vw;
}

#canvas-container { /* contains canvases */
	height: 75vh;
	min-height: 20vw;
	width: 90%;
	position: relative;
	background: white;
	border: 0.1vw solid black;
	overflow: hidden;
}

#canvas-container canvas { /* make both canvases appear on top of each other */
	position: absolute;
	top: 0;
	left: 0;
}

#controls-container {
	height: 15vh;
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 0.75vw 0;
}

.sub-controls-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	margin: 0 0.75vw;
}

.sub-controls-container > * { /* vertical spacing between controls */
	margin: 0.4vw 0;
}

/*  ----------   Documentation   ----------   */

#documentation-button {
	height: 5vw;
	width: 5vw;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 1vw;
	transition-timing-function: linear;
	background: rgb(0, 144, 180);
	box-shadow: 0 0 0.6vw #888;
	border-radius: 0.3vw 0.3vw 0 0;
	cursor: pointer;
}

#documentation-button img {
	width: 5vw;
	height: 5vw;
}

#documentation-container {
	height: 0;
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	transition-timing-function: ease-out;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background: white;
}

#documentation-banner {
	height: 5vw;
	width: 100%;
	background: rgb(0, 144, 180);
	box-shadow: 0 0 0.6vw #888;
	color: rgb(0, 58, 68);
	z-index: 1;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	cursor: pointer;
}

#documentation-banner h1 {
	padding-left: 5%;
	font-family: "Lato", serif;
	font-size: 3vw;
}

#documentation-banner span {
	opacity: 75%;
	font-weight: normal;
	font-family: "Lato", serif;
	font-size: 1.5vw;
}

#documentation {
	height: 90vh;
	width: 100%;
	padding: 5vh 5%;
	overflow: auto;
	visibility: hidden; /* hidden until MathJax is finished processing */
	display: flex;
	flex-flow: column nowrap;
}

#documentation p {
	font-family: "Noto Serif", serif;
}

#documentation img {
	align-items: center;
	margin: auto;
}

/*   ----------   GitHub link   ----------   */

#github-link {
	position: relative;
	width: 32px;
	height: 32px;
}

#github-link:active {
	top: 2px;
}

#github-link-tooltip {
	font-family: sans-serif;
	text-align: center;
	background: #333;
	color: white;
	padding: 5px 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 120%;
	left: 50%;
	width: 8em;
	margin-left: -4em;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

#github-link-tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

#github-link:hover #github-link-logo {
	filter: invert(25%);
}

#github-link:hover #github-link-tooltip {
	visibility: visible;
	opacity: 1;
}
